.day {
    margin-right: 5px;
    display: inline-block;
    background-color: white;
    border: 1px solid black;
    width: 36px;
    height: 36px;
    background-color: honeydew;
    text-align: center;
    color: #212121;
}

.day-unavailable {
    background-color: lightgray;
}

.day-selected {
    background-color: pink;
}
