select {
    margin: 0 8px 8px 0;
    min-width: 64px;
}

.filter-div {
    display: inline-block;
    width: 33%;
}

.filter-div-center {
    display: inline-block;
    margin-right: 10px;
    width: 140px;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.more-margin-bottom {
    margin-bottom: 12px;
}
