.new-user-form {
    padding: 24px 0 0 24px;
}

.form-element {
    display: inline-block;
    margin-bottom: 4px;
}

.invalid-label {
    color: red;
}

.invalid {
    background-color: pink;
}

button {
    margin-right: 10px;
}

.card {
    width: 500px;
    margin: 0px auto;
}

.header {
    background: #6db1eb;
    padding: 1rem;
    color: white;
    border-radius: 16px 16px 0px 0px;
    margin-bottom: 32px;
}
